<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">
      Welcome <%= user.charAt(0).toUpperCase() + user.slice(1) %>
    </p>
    <a href="/logout" class="btn btn-secondary">Logout</a>
  </body>
</html>
